.flex-col {
  flex-direction: column;
}
.flex-auto {
  flex: auto;
  overflow: auto;
}

.text-nowrap {
  white-space: nowrap;
}

.modal-content {
  padding: 20px;
  background: white;
}

a:focus {
  box-shadow: none;
}
