.flex-col {
  flex-direction: column;
}
.flex-auto {
  flex: auto;
  overflow: auto;
}

.text-nowrap {
  white-space: nowrap;
}

.user {
  margin-right: 2em;
}
.user > * {
  vertical-align: middle;
}
.user > img {
  height: 36px;
}
