.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  display: none;
  min-width: 100%;
  margin-top: .5rem;
}

.open .dropdown-menu {
  display: block;
}

.flex-col {
  flex-direction: column;
}
.flex-auto {
  flex: auto;
  overflow: auto;
}

.text-nowrap {
  white-space: nowrap;
}

.navbar-user {
  margin-right: 2em;
}
.navbar-user > * {
  vertical-align: middle;
}
.navbar-user > img {
  height: 36px;
}
